@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import '/node_modules/bootstrap/scss/bootstrap.scss';
@import '/node_modules/sweetalert2/src/sweetalert2.scss';
@import '/node_modules/toastr/toastr.scss';
* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

//color collection
$primary-color: #025046;
$bg-color: #fff8f8;
$nav-grey-color: #96a081;
$black-color: #1e1e1e;
$grey-color: #d9d9d9;
$btn-hover-color: #025045;
$white: #ffff;
$grey: #eeeeee;
$successColor: rgb(3, 133, 3);
$errorColor: rgb(179, 6, 6);

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
html {
  overflow-x: hidden;
  overflow-y: auto;
}
body {
  background-color: #ebe9e9;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
}

.menu {
  background-color: $primary-color;
  width: 250px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  transition: 0.5s ease;
  .logo {
    padding: 20px 0 0 10px;
    img {
      width: 200px;
      margin: 0 10px;
      cursor: pointer;
    }
    a {
      text-decoration: none;
    }
  }
  .item {
    margin-top: 40px;
    position: relative;
    li {
      list-style: none;
      color: #eeee;
      padding: 22px 10px;
      cursor: pointer;
      font-weight: 300;
      transition: 0.3s ease;
      position: relative;
      font-size: 14px;
      text-decoration: none;
    }
    li a {
      text-decoration: none;
      color: #eeee;
    }
    li:nth-child(1) {
      border-left: 3px solid $white;
    }
    svg {
      margin: 0 10px 0 25px;
      text-align: center;
      line-height: 30px;
    }
  }
}
.item li:hover {
  background-color: #0ddfc3;
  color: #f3f4f6;
  cursor: pointer;
  a {
    color: #f3f4f6;
  }
}
.interface {
  width: calc(100% - 300px);
  .navigation {
    background-color: $white;
    position: fixed;
    border-bottom: 4px solid #0ddfc3;
    padding: 10px 0;
    margin-left: 250px;
    width: calc(100% - 250px);
    z-index: 9999;
    .n1 {
      display: flex;
      margin-left: 30px;
      align-items: center;
      justify-content: space-between;
      .timer {
        display: flex;
        align-items: center;
        gap: 2px;
        img {
          width: 60px;
        }
        p {
          font-size: 1rem;
          font-weight: 600;
          margin-right: 100px;
        }
      }

      .action {
        display: flex;
        margin-right: 50px;
        align-items: center;
        gap: 40px;
        li a {
          text-decoration: none;
          color: $black-color;
          font-style: normal;
          font-size: 14px;
        }
        li {
          list-style: none;
          font-size: 14px;
          cursor: pointer;
        }
      }
      p {
        position: relative;
        top: 8px;
        font-size: 14px;
      }
      .bi-list {
        color: $primary-color;
        cursor: pointer;
        display: none;
      }
      .user-profile-icon {
        width: 35px;
        height: 35px;
        background-color: #025045;
        border-radius: 50%;
        padding: 2px 5px;
        display: none;
        .bi-person {
          color: white;
          cursor: pointer;
          display: none;
        }
      }
    }
  }
  .dropdown {
    position: relative;
    .dropdown-content {
      border-radius: 0.475rem;
      background-color: #fff;
      box-shadow: 0 0 50px 0 rgba(82, 63, 105, 0.15);
      border-radius: 4px;
      padding-top: 5px;
      max-width: 240px;
      width: 100%;
      z-index: 10000;
      transition: 0.5s ease-in-out;
      position: fixed;
      top: 70px;
      right: 0;
      margin-right: 20px;
      display: none;
    }
    ul li {
      list-style: none;
      padding-top: 20px;
      padding-bottom: 5px;
      font-size: 14px;
      position: relative;
      right: 10px;
      padding-right: 5px;
    }
    li a {
      text-decoration: none;
      color: #333;
    }
    ul li :hover {
      color: $primary-color;
      transition: 0.5s ease;
    }
    ul li:nth-child(1) {
      border-bottom: 1px solid $grey-color;
      width: 200px;
      margin-left: 0;
      font-size: 13px;
    }
    ul li:nth-child(2) {
      cursor: pointer;
      margin-top: 10px;
      padding: 5px 10px;
    }
  }
  .show {
    display: block !important;
  }
  .enter-result-container {
    margin-top: 100px;
    margin-left: 270px;
    width: 100%;
    .election-type {
      button {
        background: linear-gradient(#0ddfc3, rgb(2, 121, 115));
        color: $white;
        font-size: 18px;
        font-weight: 500;
        border-radius: 4px;
        padding: 15px;
        max-width: 200px;
        margin-bottom: 30px;
        outline: none;
        border: none;
        text-transform: uppercase;
      }
    }
    .result-form {
      display: none;
    }
    .timer {
      display: none;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 20px;
      img {
        width: 100px;
      }
      .time-message {
        font-weight: 600;
        font-size: 1rem;
        margin-top: 10px;
      }
    }
    form {
      background-color: $white;
      border-radius: 2px;
      box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
        rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
      margin-top: 20px;
      padding: 20px;
      height: auto;
      width: 100%;
      border-radius: 8px;
      .row {
        padding: 10px;
        display: flex;
        input {
          width: 100%;
          padding: 10px 10px;
          height: 42px;
          border: 1px solid $grey-color;
          outline: none;
          margin-top: 10px;
          border-radius: 4px;
          color: #333;
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 10px;
        }
        input::placeholder {
          font-size: 13px;
          color: #666;
        }
        input {
          width: 100%;
        }
        label {
          font-size: 12px;
          font-weight: 500;
          color: #2e2e2e;
          text-transform: capitalize;
        }
        .bi-asterisk {
          color: red;
        }
        select {
          display: block;
          width: 100%;
          height: 40px;
          outline: none;
          border: 1px solid $grey-color;
          margin-top: 10px;
          border-radius: 2px;
          padding: 8px 10px;
          font-size: 14px;
          margin-bottom: 3px;
          option {
            font-size: 14px;
            color: #666;
          }
          option:checked {
            color: #666;
            font-size: 13px;
            text-transform: capitalize;
          }
        }
        .hidden {
          display: none;
        }
        .registration-area-option {
          display: none;
        }
      }
      button {
        border: none;
        background-color: $primary-color;
        margin: 20px 10px 10px 10px;
        color: $white;
        font-size: 1rem;
        font-weight: 300;
        width: 100px;
        padding: 10px 10px;
        border-radius: 4px;
        width: 100%;
        max-width: 120px;
      }
      button:disabled {
        background-color: #548680;
      }
      small {
        font-size: 12px;
        color: red;
        padding: 10px 0;
      }
    }
    footer {
      p {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: rgb(131, 141, 151);
        gap: 5px;
        margin-top: 40px;
        position: relative;
        top: 0;
      }
    }
  }
}

// sending http request spinner
.loader-spinner {
  background-color: rgb(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 10000;
  cursor: wait;
  .loader-content {
    background-color: white;
    border-radius: 5px;
    width: 150px;
    padding: 0px 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .spin-content {
    display: flex;
    gap: 5px;
    align-items: center;
    .load {
      display: block;
      width: 25px;
      height: 25px;
      margin: 8px;
      border-radius: 50%;
      border: 4px solid #fff;
      border-color: #025045 transparent #025045 transparent;
      animation: loader-spinner 1.2s linear infinite;
      z-index: 100;
    }
    p {
      font-size: 1rem;
      padding: 5px;
      position: relative;
      top: 5px;
    }
  }
}
@keyframes loader-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.backdrop {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 9999;
  display: none;
}
.swal2-popup .swal2-styled:focus {
  box-shadow: none !important;
}
.swal2-backdrop-show {
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5) !important;
}

.logout-modal {
  .confirm,
  .decline {
    max-width: 700px;
    color: white;
    padding: 8px 15px;
    outline: none;
    border-radius: 5px;
    margin: 0px 3px;
  }
  .confirm {
    background-color: $primary-color;
    border: none;
    color: $white;
  }
  .decline {
    background-color: red;
    border: 1px solid red;
    color: $white;
  }
  h5 {
    font-size: 16px;
  }
  .close {
    font-size: 30px;
    color: black;
    cursor: pointer;
  }
  .modal-title {
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    p {
      font-size: 16px;
      position: relative;
      top: 10px;
    }
    .bi-exclamation-triangle-fill {
      color: red;
    }
  }
}
//responsive
//medium <= 992
@media (max-width: 990px) {
  .menu {
    left: -400px;
    z-index: 20000;
    overflow-y: scroll;
  }
  .interface {
    width: 96%;
  }
  .interface .navigation {
    margin-left: 0;
    width: 100%;
  }
  .n1 {
    .bi-list {
      display: block !important;
    }
    .welcome-message {
      display: none;
    }
    .action {
      margin-right: 15px !important;
    }

    li {
      display: none;
    }
    .user-profile-icon {
      display: block !important;
      .bi-person {
        display: block !important;
      }
    }
  }
  .interface .navigation .n1 .timer {
    display: none !important;
  }
  .interface .enter-result-container {
    margin-left: 10px !important;
    width: 100%;

    .result-form .timer {
      display: flex !important;
    }
  }
}
//small device <= 560px
@media screen and (max-width: 560px) {
  .col {
    flex: none;
    width: 100%;
  }
}
