@import '/node_modules/bootstrap/scss/bootstrap.scss';
@import '/src/assest/abstract/_base.scss';

.modal {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.modal-dialog {
  transition: 0.5s ease-in;
}
.modal-header h5 span {
  padding: 0 5px;
}
.reset-password {
  display: block;
  form {
    .input-form {
      display: flex;
      flex-direction: column;
      gap: 2px;
      input::placeholder {
        font-size: 14px;
        color: #ccc;
      }
      input {
        width: 100%;
      }
      small {
        padding: 10px 0;
      }
    }
  }
  .btn-reset {
    background-color: $primary-color;
    color: white;
    padding: 10px 0;
    text-align: center;
    border-radius: 8px;
    width: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;

    // .loader-spinner {
    //   border-top: 5px solid $orangella;
    //   height: 30px;
    //   width: 30px;
    //   border-radius: 50%;
    //   animation: loader-spinner 0.75s linear infinite;
    //   z-index: 30000;
    // }
    // @keyframes loader-spinner {
    //   0% {
    //     transform: rotate(0deg);
    //   }
    //   100% {
    //     transform: rotate(360deg);
    //   }
    // }
  }
  .close-reset-modal {
    font-size: 30px;
    color: black;
    cursor: pointer;
  }
}
.modal-overlay {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 9999;
  display: block;
}
.loader-spinner-backdrop {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 9999;
  display: none;
}
.loader-hidden {
  display: none;
}
