@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import '/src/assest/abstract/_breakpoint.scss';
@import '/node_modules/bootstrap/scss/bootstrap.scss';
@import '/node_modules/toastr/toastr.scss';

#toast-container {
  position: fixed;
  top: 10px;
  right: 10px;
}
* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

//color collection
$primary-color: #025046;
$bg-color: #fff8f8;
$nav-grey-color: #96a081;
$black-color: #1e1e1e;
$grey-color: #d9d9d9;
$btn-hover-color: #025045;
$white: #fff;
$grey: #eeeeee;
$successColor: rgb(3, 133, 3);
$errorColor: rgb(179, 6, 6);

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.form-control:focus {
  box-shadow: none;
  border-color: #eee;
}
.form-select:focus {
  box-shadow: none;
  border-color: #eee;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.dataTables_length {
  padding: 0px 30px;
}
label {
  display: flex;
}
.form-select-sm {
  width: 70px;
}
.form-control {
  width: 100%;
}
.dataTables_filter {
  margin-left: 100px;
  margin-right: 30px;
}
.dataTables_info {
  margin: 20px 20px;
  font-size: 14px;
}
.dataTables_paginate {
  margin: 20px 20px;
  float: right;
}
.dataTables_empty {
  font-size: 14px;
}
.active > .page-link {
  background-color: $primary-color;
  border-color: $primary-color;
  color: white;
}
.active > .page-link:focus {
  box-shadow: none;
  border-color: $primary-color;
}
.page-item:first-child .page-link:focus {
  box-shadow: none;
  border-color: $grey;
}
.page-item:last-child .page-link:focus {
  box-shadow: none;
  border-color: $grey;
}
.page-item:not(:first-child) .page-link {
  box-shadow: none;
  border-color: $grey;
}
html {
  overflow-x: hidden;
  overflow-y: visible;
}
body {
  background-color: #ebe9e9;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  overflow-y: visible;
  overflow-x: hidden;
}
.menu {
  background-color: $primary-color;
  width: 250px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  transition: 0.5s ease;
  .logo {
    padding: 20px 0 0 10px;
    img {
      width: 200px;
      margin: 0 10px;
      cursor: pointer;
    }
    a {
      text-decoration: none;
    }
  }
  .item {
    margin-top: 40px;
    position: relative;
    li {
      list-style: none;
      color: #eeee;
      padding: 22px 10px;
      cursor: pointer;
      font-weight: 300;
      transition: 0.3s ease;
      position: relative;
      font-size: 14px;
      text-decoration: none;
    }
    li a {
      text-decoration: none;
      color: #eeee;
    }
    li:nth-child(1) {
      border-left: 3px solid $white;
    }
    svg {
      margin: 0 10px 0 25px;
      text-align: center;
      line-height: 30px;
    }
  }
}
.item li:hover {
  background-color: #0ddfc3;
  color: #f3f4f6;
  cursor: pointer;
  a {
    color: #f3f4f6;
  }
}

.interface {
  width: calc(100% - 300px);
  .navigation {
    background-color: $white;
    position: fixed;
    border-bottom: 4px solid #0ddfc3;
    padding: 10px 0;
    margin-left: 250px;
    width: calc(100% - 250px);
    z-index: 9999;
    .n1 {
      display: flex;
      margin-left: 30px;
      align-items: center;
      justify-content: space-between;
      .action {
        display: flex;
        margin-right: 50px;
        align-items: center;
        gap: 40px;
        li a {
          text-decoration: none;
          color: $black-color;
          font-style: normal;
          font-size: 14px;
        }
        li {
          list-style: none;
          font-size: 14px;
          cursor: pointer;
        }
      }
      p {
        position: relative;
        top: 8px;
        font-size: 14px;
      }
      .bi-list {
        color: $primary-color;
        cursor: pointer;
        display: none;
      }
      .user-profile-icon {
        width: 35px;
        height: 35px;
        background-color: #025045;
        border-radius: 50%;
        padding: 2px 5px;
        display: none;
        .bi-person {
          color: white;
          cursor: pointer;
          display: none;
        }
      }
    }
  }
  .dropdown {
    position: relative;
    .dropdown-content {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      background-color: $white;
      border-radius: 4px;
      padding-top: 5px;
      max-width: 240px;
      width: 100%;
      z-index: 10000;
      transition: 0.5s ease-in-out;
      position: fixed;
      top: 80px;
      right: 0;
      margin-right: 20px;
      display: none;
    }
    ul li {
      list-style: none;
      padding-top: 20px;
      padding-bottom: 5px;
      font-size: 14px;
      position: relative;
      right: 10px;
      padding-right: 5px;
    }
    li a {
      text-decoration: none;
      color: #333;
    }
    ul li :hover {
      color: $primary-color;
      transition: 0.5s ease;
    }
    ul li:nth-child(1) {
      border-bottom: 1px solid $grey-color;
      width: 200px;
      margin-left: 0;
      font-size: 13px;
    }
    ul li:nth-child(2) {
      cursor: pointer;
      margin-top: 10px;
      padding: 5px 10px;
    }
    // ul li:nth-child(2):hover {
    //   color: $white;
    //   background-color: $primary-color;
    //   border-radius: 4px;
    //   transition: 0.5 ease;
    // }
    // li a:focus {
    //   color: white;
    // }
  }
  .show {
    display: block !important;
  }
  .view-registered {
    margin-top: 100px;
    margin-left: 270px;
    width: 100%;
    .registered-content {
      margin-top: 40px 0 30px 30px;
      background-color: $white;
      overflow-x: hidden;
      width: 100%;
      border-radius: 3px;
      box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
        rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
      .register-head {
        h2 {
          font-size: 1.3rem;
          font-weight: 600;
          text-transform: capitalize;
          margin: 20px 30px;
        }
      }
      .register-action {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;
        margin: 10px 20px;
        gap: 10px;

        .refresh-btn {
          background-color: #eee;
          border: none;
          outline: none;
          color: #333;
          display: flex;
          gap: 5px;
          justify-content: center;
          font-size: 14px;
          max-width: 120px;
          font-weight: 400;
          height: 45px;
          padding: 10px;
          border-radius: 5px;
          max-width: 120px;
          text-transform: capitalize;
        }
        a {
          background-color: #0ddfc3;
          max-width: 120px;
          border: 1px solid #0ddfc3;
          padding: 10px;
          color: $white;
          font-size: 14px;
          font-weight: 600;
          text-align: center;
          outline: none;
          border-radius: 5px;
          text-transform: capitalize;
          text-decoration: none;
          margin-right: 20px;
        }
      }
      .table-container {
        overflow-x: hidden;
        padding: 2rem 0rem;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 5px;
        overflow-x: hidden;
        margin: 20px 0px;
      }
      table td,
      th {
        vertical-align: middle;
      }
      table th {
        padding: 10px 15px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        color: $white;
        background-color: #0085738e;
      }
      thead td {
        padding: 0px 15px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
      }
      tbody {
        background-color: #fff;
      }
      th,
      td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      tbody td {
        color: #333;
        font-size: 0.8rem;
        padding: 20px 10px;
      }

      tbody tr:nth-child(even) {
        background-color: #eee;
      }
      tbody td a {
        margin: 30px 3px;
      }
      tbody tr .action-btn {
        line-height: 3;
      }
      .edit {
        color: white;
        padding: 10px 10px;
        background-color: #045b8d;
        border-radius: 5px;
        max-width: 100px;
        text-decoration: none;
      }
      .delete {
        color: white;
        padding: 10px 10px;
        max-width: 100px;
        background-color: rgb(247, 4, 4);
        border-radius: 5px;
        text-decoration: none;
      }
    }
  }
  .table-footer-action {
    margin: 20px 30px 0px 30px;
    margin-bottom: 30px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    .sorting select {
      width: 60px;
      outline: none;
      height: 30px;
      border: 1px solid #ebe9e9;
      border-radius: 3px;
    }
    .pagination {
      display: flex;
      gap: 20px;
      text-transform: capitalize;
      font-size: 14px;
      cursor: pointer;
      a {
        text-decoration: none;
      }
      .next {
        background-color: $primary-color;
        color: $white;
        width: 90px;
        border-radius: 4px;
        padding: 10px 10px;
        text-align: center;
        a {
          color: $white;
        }
      }
      .previous {
        border: 1px solid $primary-color;
        width: 90px;
        border-radius: 4px;
        padding: 10px 10px;
        text-align: center;
        a {
          color: #333;
        }
      }
    }
  }
}
footer {
  p {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: rgb(131, 141, 151);
    gap: 5px;
    margin-top: 40px;
  }
}
//Edit Modal
.edit-modal .modal {
  z-index: 10000;
  box-shadow: none;
  transition: all 0.5 ease;
  .modal-lg {
    width: 500px;
  }
  .modal-header {
    color: #333;
  }
  form {
    margin-top: 20px;
  }
  form .row {
    margin: 10px 0px;
  }
  form input {
    margin: 10px 0px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    padding: 0px 10px;
    border-radius: 4px;
    font-size: 14px;
  }
  form select {
    padding: 0px 10px;
  }
  form input:focus {
    outline: none;
  }
  form select:focus {
    outline: none;
    border: 1px solid #ddd;
  }
  form select {
    width: 100%;
    height: 40px;
    border: 1px solid #eee;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  form label {
    font-size: 14px;
    display: inline-flex;
    gap: 5px;
  }
  form button {
    width: 120px;
    padding: 10px;
    background-color: $primary-color;
    color: white;
    margin: 12px;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    font-weight: 300;
  }
  form button:focus {
    background-color: $primary-color;
    color: $white;
  }
  form small {
    font-size: small;
    color: red;
  }
  .bi-asterisk {
    color: red;
    position: relative;
    top: 7px;
  }
  .close {
    cursor: pointer;
  }
}
.edit-modal .modal {
  display: none;
  z-index: 20000;
}
.swal2-popup .swal2-styled:focus {
  box-shadow: none !important;
}
.swal2-backdrop-show {
  z-index: 9999;
  background: rgba(0, 0, 0, 0.6) !important;
}

.loader-spinner {
  background-color: rgb(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 20000;
  cursor: wait;
  .loader-content {
    background-color: white;
    border-radius: 5px;
    width: 150px;
    padding: 0px 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .spin-content {
    display: flex;
    gap: 5px;
    align-items: center;
    .load {
      display: block;
      width: 25px;
      height: 25px;
      margin: 8px;
      border-radius: 50%;
      border: 4px solid #fff;
      border-color: #025045 transparent #025045 transparent;
      animation: loader-spinner 1.2s linear infinite;
      z-index: 100;
    }
    p {
      font-size: 1rem;
      padding: 5px;
      position: relative;
      top: 5px;
    }
  }
}
@keyframes loader-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// // sending http request spinner
// .request-loader-spinner {
//   width: 100%;
//   background-color: rgba(0, 0, 0, 0.4);
//   position: fixed;
//   top: 0;
//   left: 0;
//   height: 100vh;
//   z-index: 20000;
//   display: none;
// }
// .request-loader-spinner::after {
//   content: '';
//   border: 4px solid transparent;
//   border-top-color: $primary-color;
//   border-right-color: $primary-color;
//   width: 45px;
//   height: 45px;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   border-radius: 50%;
//   animation: loader-spinner 1s linear infinite;
//   z-index: 10000;
// }
// @keyframes loader-spinner {
//   from {
//     transform: rotate(0turn);
//   }
//   to {
//     transform: rotate(1turn);
//   }
// }

//logout
.modal {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.modal-dialog {
  transition: 0.5s ease-in;
}
.modal-header h5 span {
  padding: 0 5px;
}

.logout-modal {
  .confirm,
  .decline {
    max-width: 700px;
    color: white;
    padding: 8px 15px;
    outline: none;
    border-radius: 5px;
    margin: 0px 3px;
  }
  .confirm {
    background-color: $primary-color;
    border: none;
    color: $white;
  }
  .decline {
    background-color: red;
    border: 1px solid red;
    color: $white;
  }
  .decline:hover {
    transform: translateY(1px);
    transition: all 0.5s ease;
  }
  .confirm:hover {
    transform: translateY(1px);
    transition: all 0.5s ease;
  }
  .modal-title {
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    p {
      font-size: 16px;
      position: relative;
      top: 10px;
    }
    .bi-exclamation-triangle-fill {
      color: red;
    }
  }
  .close {
    font-size: 30px;
    color: $primary-color;
    cursor: pointer;
  }
}
.backdrop {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 9999;
  display: none;
}

//medium <= 992
@media (max-width: 990px) {
  .menu {
    left: -400px;
    z-index: 20000;
    overflow-y: scroll;
  }
  .interface {
    width: 96%;
  }
  .interface .navigation {
    margin-left: 0;
    width: 100%;
  }
  .n1 {
    .bi-list {
      display: block !important;
    }
    .welcome-message {
      display: none;
    }
    .action {
      margin-right: 15px !important;
    }

    li {
      display: none;
    }
    .user-profile-icon {
      display: block !important;
      .bi-person {
        display: block !important;
      }
    }
  }
  .view-registered {
    margin-top: 150px !important;
    margin-left: 10px !important;
  }
}
//small device <= 768px
@media (max-width: 768px) {
  .interface .view-registered .registered-content .table-container {
    overflow-x: auto;
  }
  .dataTables_filter {
    margin-left: 30px !important;
    margin-right: 30px !important;
    margin-top: 20px !important;
  }
}
//extra small device <=530px
@media (max-width: 530px) {
  .edit-modal .modal .modal-lg {
    width: 95%;
  }
  .edit-modal .col {
    flex: none;
  }
}
